<!DOCTYPE html>
<html lang="en">
<head>

  <title>Notes API</title>
</head>
<body>
  <div id="container">
    <img src="../../public/images/sticky-note.png" 
         class="header-logo">

    <%- body %>
  </div>
</body>
</html